// Global Mixins / Helpers / Variables

// === Variables

// === Mixins

=master-sprite($width: auto, $height:auto, $left:0, $right:0)
  text-indent: -9999px
  display: block
  background: transparent url(../images/layout/global/master-sprite.png) repeat scroll -#{$left}px -#{$right}px
  width: #{$width}px
  height: #{$height}px

// Global Classes

html body
  #main
    .centered
      margin: 0 auto
      float: none

// Header

$headerHeight: 144px

html body


// Content

//===== Home

html body

  header
    position: relative
    height: 144px
    z-index: 5
    strong#logo
      a
        margin: 0 auto

  section#main
    section.hero
      z-index: 0
      position: relative
      margin-top: -#{$headerHeight} // header height
      padding-top: $headerHeight
      background: transparent url(../images/layout/home/hero.jpg) no-repeat scroll top center
      height: 700px
      .primary-search
        input#search-input
          width: 100%
          +box-sizing(border-box)
