<header class="container">
  <div class="row-fluid">
    <div class="span12">
    <strong id="logo"><a title="Totefish: Totally Efficient Shopping" href="/">Site Title</a></strong>
    </div>
  </div>
</header>