<section class="hero row-fluid">
  <div class="container">
    <div class="span12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, culpa, nobis, rem, nesciunt vitae id iure eos ratione ad deleniti enim ducimus assumenda quos atque modi dignissimos perspiciatis sed dolorum.</p>
    </div>
  </div> <!-- .container -->
</section>